* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

/* Header Styles */
header {
    background-color: #3B3332;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo img {
    max-width: 50px;
    height: 50px;
    }

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #C18726;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #C18726;
    color: #DC01FF;
}

.search-input {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333;
    padding: 5px 40px 5px 10px;
    border: none;
    border-bottom: 2px solid #DC01FF;
    flex: 1; 
}

.search-button {
    background: none;
    border: solid;
    cursor: pointer;
    padding: 5px;
    color: yellow;
    align-items: center;

}
.search-button img{
    width: auto;
    height: auto;
}
@media screen and (max-width: 768px) {
    header {
        display: flex;
    flex-direction: column;
    text-align: center;
    }

    .nav-links {
        order: 1; 
    }
    
    .search-box {
        order: 2;
        width: 100%;
    }
}

/* Welcome Section Styles */
.welcome-section {
    background-image: url('backgroundw.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}
div.welcome-content {
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
   padding-left: 10px;
}
.welcome-section h1 {
    font-size: 91px;
    margin-bottom: 20px;
    text-align: left;
}

.welcome-section p {
    font-size: 16px;
}

.connect-button {
    background-color: #FCA10D;
    color: #000;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    height:80px;
    font-family: Open Sans Regular;
}

/* About Us Section Styles */
.about-section {
    background-color: #FFD693;
    padding: 80px;
    display: flex;
    align-items: center;
  justify-content: center;
}
.about-photo img {
    max-width: 100%;
    float: left;
    flex-basis: 40%;
}

.about-content { 
    float: right;
    flex-basis: 55%; 
    margin-top: 30px; 
}

.about-content h2 {
    font-size: 54px;
     margin-left: 10px;
}

.about-content p {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    .about-section {
        flex-direction: column; 
    }
    .about-content {
        width: 100%;
        }
    }
}
/* Services Section Styles */
.services-section {
    background-color: #fff;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-section h2 {
    font-size: 54px;
    font-family: Arial, sans-serif;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     padding: 10px;
}

.blog-post {
    background-color: #FFD693;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.blog-post img {
    max-width: 100%;
}

.blog-post h3 {
    font-size: 24px;
    margin: 10px 0;
}

.blog-post p {
    font-size: 16px;
    margin-bottom: 10px;
}

.service-button {
    background-color: #3B3332;
    color: #fff;
    font-size: 24px;
    width: 100%;
    border: none;
    cursor: pointer;
    height: 100px;
    margin-bottom: 1px;
}
@media screen and (max-width: 768px) {
    .blog-posts {
        flex-direction: row;
    }

    .blog-post {
        flex-basis: 100%;
    }
    .service-button {
        width: 50%;
    }
}

/* Our Vision Section Styles */
.vision-section {
    background-image: url('vision.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: left;
    color: #fff;
}

.vision-section h2 {
    font-size: 36px;
    color: #fff;
}

.learn-more-button {
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
  border: 1px solid black;
  opacity: 0.6;
  color: #fff;
  padding: 10px;
}

/* Our Team Section Styles */

.team-section {
    background-color: #fff;
    padding: 100px;
    padding-top: 5px;
}

.team-section h2 {
    font-size: 54px;
    text-align: left;
}

.team-members {
    display: block;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.team-member1, .team-member {
    display: flex;
    background-color: #FFD693;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.team-member1{
    flex-direction: row-reverse;
}
 .member-photo {
    flex: 0 0 50%;
}
.member-photo img {
    max-width: 100%;
}
.member-details1, .member-details {
    flex: auto;
    padding-left: 0px;
}

.border-line {
    width: 95%;
    height: 2px;
    background-color: orange;
}

.member-description {
    font-size: 16px;
    color: #333;
}

@media screen and (max-width: 768px) {
    .team-member1, .team-member {
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    .member-photo,
    .member-details,
    .member-description
     {
        padding: 0;
    }

    .border-line {
        display: none;
    }
}


/* Contact Us Section Styles */
.contact-section {
     background-color: #fff;
    padding: 80px;
    padding-top: 0;
    display: grid;
    flex-direction: row;
    align-items: left;
    text-align: center;
}

.contact-section h2 {
    font-size: 54px;
    text-align: left;
    margin-bottom: 10px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container,
.location-container {
    flex-basis: 100%;
    text-align: center;
}
.contact-form button {
    background-color: #3B3332;
    color: #FF9700;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.location-container img {
    max-width: 100%;
    height: auto; 
}

@media screen and (min-width: 768px) {
    .form-container,
    .location-container {
        flex-basis: 48%;
        text-align: left;
    }
}

/*table*/
.hours-of-operation table{
width: 100%;
}
div.hours-of-operation {
    border-collapse: collapse;
    padding: 80px;
    margin-right: 10px;
    margin-left: 10px;
}

.hours-of-operation th,
.hours-of-operation td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.hours-of-operation th {
    background-color: #FFD693;
}
.hours-of-operation td{
    text-align: left;
}

/* Footer Section Styles */
footer {
    background-color: #3B3332;
    color: #FF9700;
    padding: 20px;
    text-align: center;
}
